*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: 100%;
	background: #42455a;
}

.menu ul{
	display: inline-flex;
	margin: 50px;
}

.menu li{
	display: inline-flex;
	margin: 50px;
}

.menu ul li{
	list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
}
.logo img{
	width: 30px;
	margin-top: -7px;
	margin-right: 48px;
}

.active{
	color: #19dafa !important;
}

.banner{
	width: 80%;
	height: 70%;
	top: 25%;
	left: 130px;
	position: absolute;
	color: #fff;
}

.app-text{
	width: 50%;
	float: left;
}

.app-text h1{
	width: 650px;
	font-size: 43px;
	float: left;
	position: relative;
	margin-left: 40px;
	margin-bottom: 40px;
}

.app-text p{
	width: 650px;
	font-size: 15px;
	margin: 30px 0 30px 40px;
	line-height: 25px;
	color: #fff;
}

.app-picture{
	width: 50%;
	float: right;
}

.app-picture img{
	width: 80%;
	margin-top: 20px;
	padding-left: 50px;
}

.footer {
	background: #2a2a2a;
	font-family: sans-serif;
	font-size: 15px;
}

.footer ul{
	display: inline-flex;
	margin: 50px;
}

.footer li{
	width: 50%;
	display: inline-flex;
	margin-left: 50px;
}